@model string



<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
        <div class="row">
            <div class="row">
                <h1>El ave buscada es un: @Model</h1>
            </div>
        </div>
    </div>
</div>