@model List<string>

<div class="row">
    <div class="row">
        @if (Model != null)
        {
            @foreach (string img in Model)
            {
                <div class="row">
                    <img src="https://wikibirdstorage.blob.core.windows.net/birds/@img">
                </div>
            }
        }
    </div>
</div>