
<form action="/Bird/CreateBird" method="post">

    <div>Nombre: <input class="form-control" type="text" name="name" /></div>
    <div>Descripción: <input class="form-control" type="text" name="description" /></div>
    <div>Descripción: <input class="form-control" type="text" name="image" /></div>

    <input class="btn btn-primary" type="submit" value="Cear" />

    <a class="navbar-brand" asp-area="" asp-controller="Bird" asp-action="GetAllBirds">Listar</a>



</form>