<div class="container h-100 d-flex justify-content-center">
    <div class="indexCard">
        <form action="ML/uploadImage" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="indexContainer">
                    <img src="/images/bird.png" class="indexImage">
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="image">
                    <label class="custom-file-label" for="customFile">.jpg, .jpeg, .png, .gif</label>
                </div>
            </div>
            <input type="submit" value="Buscar" class="btn btn-primary btn-block buscar">
        </form>
    </div>
</div>